#course
 {
    color: red;
        
    font-size: 30px;
    display: flex;
    justify-content: center;
  align-items: center;
  width:100vw;
  border:solid;
  justify-content: space-around;
 }


#BACK
  {
background-image: url("../res/webdev3.png");
width: 1500px;
height: 700px;
  }

#large
{
    
    color: seashell;
    font-size: 50px;
}
     .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

 .heads{
     color: seashell;
    display: inline;
   
 }

 a {
    color: white;
    text-decoration: none; 
  }

  p{
    Background-image:
   Linear-gradient(127 deg, black, black 70.71%),
    Linear-gradient(336 deg, rgba(0,0     ,255,.8), rgba(0,0,255,0) 70.71%);

 }
 body {
    background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);

 }
 
 .container {
   position: relative;
   width: 50%;
 }
.btn:hover{background-color: transparent !important;}
  .btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   color: black;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   background-color: transparent;
 }
 
 .container .btn:hover {
   background-color: black;
 }
 
 .image { display: flex}
 
.flexNav{
    display:flex;
    justify-content : space-around;
    width:70%;
 }
 .btn{
  opacity:0;
}
.btn:hover{
  opacity: 1;
}